body{
  background-image: url('mediterranean-cuisine-2378758_1920.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  background-attachment: fixed;
}

.btn-position{
  position: relative;
  top: 500px;
  text-align: center;
}
